/* #cardprofile{
    
    height: 90vh;
    width: 60vh;
} */

   #avatar{
    width: 200px;
    height: auto;
   }   
 /*   #cajafoto{
    border-radius-sm
   } */

   #containerprofile{
    width: 100vw;
   }

   .description {
    max-width: 250px;
    margin: 10px 0;
   }

   .title {
    font-weight: 800;
   }

   .contenedorPosts {
    display: grid;
   }

   .cForm {
    height: auto;
   }

   .uForm {
    height: 50vh;
   }
