/* #cardprofile{
    
    height: 90vh;
    width: 60vh;
} */

   #avatar{
    width: 200px;
    height: auto;
   }   
 /*   #cajafoto{
    border-radius-sm
   } */

   #containerprofile{
    width: 100vw;
   }