*{
    font-family: 'Poppins', sans-serif;
    outline-color: transparent;
}

/* ALINEA EN FLEX ROW */
#divRow {
  display: flex;
  flex-direction: row;
  /* border: solid red 2px; */
}
/* ALINEA EN FLEX ROW */

.containerprofile {
  /* border: solid 2px yellow; */
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 100vh;
}


/* **************************************************************** */
/* AVATAR !!!!! */

#avatar {
  /* border: solid 2px black; */
  height: 200px;
  width: 200px;
}
/* **************************************************************** */


.comercio {
  /* border: solid green 1px; */
  border: 0;
}

/* #chatjs {
  border: solid 2px black;
  width: 75vw;
  height: 100vh;
}
 */
#chau2 {
  /* border: solid 2px green; */
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 100vh;
  width: 25vw;
}

#people {
  /* border: solid 2px blue; */
  border: 0;
  margin-top: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 25vw;
  padding: 2vh;
}

.aboutme{
  /* border: solid 2px red; */
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 25vw;
}

.card-body {
  border: 0;
  background-color: white;
}

.posteosIn{
  /* border: solid 2px blueviolet; */
  border: 0;
  flex-direction: column;
}

#posteos {
  height: auto;
  margin-top: 80px;
}

#posteos p {
  font-size: 1.3em;
}
.linkStyle:hover {
  color: #4f2579;
  background-color: #ebebf8;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.linkStyle:active {
  box-shadow: none;
  transform: translateY(0);
}

.adios1 {
  /* border: solid 2px orange; */
  border: 0;
  margin-top: 2vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.alert {
  height: 10px;
}

.fix {
  display: grid;
  justify-content: center;
  align-items: center;
}

.titlesPro {
  font-size: 1.7em;

}
.commerce {
  font-size: 1.8em;
}
.name {
  font-size: 1.4em;
}

.contenedorPosts {
  margin-top: 15px;
}