*{
    font-family: 'Poppins', sans-serif;
}

.containerprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px blue;
}


/* **************************************************************** */

/* AVATAR !!!!! */
#cajafoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px orange;
}

.avatar {
  border: solid 2px black;
  height: 20vh;
  width: 20vw;
}

/* **************************************************************** */


#chau1 {
  border: solid 2px yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chau2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px red;

}

.aboutme {
  border: solid 2px red;
}

.posteosIn{
    flex-direction: column;
    border: solid 2px blueviolet;
}

#posteos {
  flex-direction: column;
  border: solid 2px blueviolet;
}


.adios1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px orange;
}


