#categories {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    width: 300vw;
    padding: 5px;
}

.categorias{
    gap: 20px;
    margin-bottom: 8vh;
}
 .card-img-top{
    padding: 7px;

} 

.card-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.botonazo {
    height: 25px;
}




